.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
pnpm-lock.yaml
GPUCache/
.nyc_output
pnpm-debug.log
infinity-interactive-jsonschematic-*
static/build
dist
node_modules
/build
.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.*.timestamp-*
